body{
     background-color: lightblue;
     text-align: center;
}
#markdown-body{
     text-align: center;
}
h1{
     text-align: center;
    color: yellow;
}
h2{
     text-align: left;
     color: red;
     font-style: italic;
     font-family: "Courier New", Times, red serifs;
}
          
}
div{
    text-align: center;
}
