body{
     background-color: lightblue;
}
markdown-body{
     text-align: center;
}
h1{
     text-align: center;
    color: brown;
}
h2{
     text-align: left;
     color: brown
          
}
div{
    text-align: center;
}
