body{
     background-color: lightblue;
     text-align: center;
}
#markdown-body{
     text-align: center;
}
h1{
     text-align: center;
    color: brown;
}
h2{
     text-align: left;
     color: brown;
     font-style: italic;
     font-family: "Courier New", Times, red serifs;
}
h4{
    text-align: center;             
}
h5{
    text-align: left;             
}
